
.hero-section {
    min-width: 1110px;
    min-height: 600px;

    background-image: url(../../assets/home/image-homepage-hero.jpg);
    background-position: center;
    background-size: cover;
}

.hero-section__card {
    width: 445px;
    height: 357px;

    background: #FAFAFA;
}

.about-section {
    box-sizing: border-box;
    padding-bottom: 0px;
    border-top: 2px solid #ececec;
    border-bottom: 2px solid #ececec;
}

.profile-section {
    max-width: 1205px;
}

.profile-section__picture {
    max-height: 605px;
}

.btn-primary a {
    font-family: 'Public Sans', sans-serif;

    text-decoration: none;
    letter-spacing: 2px;

    line-height: 14px;
    font-weight: 100;
    font-size: 12px;

    color: #FFFFFF;
}
